.body
{ background-color: black;}
.translator-container
{padding: 20px;}
.container
{margin-left: 330px;}
.title
{
    margin-left: 165px;
    font-size: 36px;
    color: white;
    padding: 10px;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.5), 0 0 0px rgba(255, 255, 255, 0.5), 0 0 6px rgba(255, 255, 255, 0.5);
}
.label
{
    color: white;
    padding: 10px;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.5), 0 0 0px rgba(255, 255, 255, 0.5), 0 0 0px rgba(255, 255, 255, 0.5);
    font-weight: normal;
}
#fromLanguage
{
    font-weight: bold;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
    background: black;
    color: white;
}
#toLanguage
{
    font-weight: bold;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
    background: black;
    color: white;
}
#inputText
{
    font-weight: bold;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
    background: black;
    color: white;
}
#outputText
{
    font-weight: bold;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
    background: black;
    color: white;
}
.btn-primary1
{
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
    border-radius: 12px;
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0), 0 0 0px rgba(255, 255, 255, 0), 0 0 6px rgba(255, 255, 255, 0.5);
}
.btn-primary1:hover
{
    background-color: black;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    transform: translateX(-10px);
    color: white;
}
.btn-primary2
{
    margin-left: 20px;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
    border-radius: 12px;
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.5), 0 0 0px rgba(255, 255, 255, 0.5), 0 0 6px rgba(255, 255, 255, 0.5);
}
.btn-primary2:hover
{
    background-color: black;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    transform: translateX(10px);
    color: white;
}
.form-control
{
    border: 3px solid white;
    border-radius: 12px;
}